<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFicha</title>
    <link rel="stylesheet" href="/static/css/estilo.css">
</head>

<body>
    <section class="cadastro">
        <div class="telaCadastro">
            <div class="image">
                <img src="images/logoFastFicha2.png" alt="logo" class="imageLogo">
            </div>
            <h1 class="titleCadastro">CADASTRO</h1>
            <div class="infoUsuario">
                <p>Email:</p>
                <p><input type="email" name="email" placeholder="Digite o email aqui..."></p>
                <p>Senha:</p>
                <p><input type="password" name="senha" placeholder="Digite a senha aqui..." ></p>

            </div>
            <h1 class="askOpcao">Deseja fazer o cadastro como:</h1>
            <div class ="escolhas">
                <p><input type="radio" name="selectUsuario" >USUÁRIO</p>
                <p><input type="radio" name="selectLanch" >ESTABELECIMENTO</p>
            </div>

            <div class="logar">
                <button class="buttonLogin" type="button">Cadastrar</button>
            </div>
            


        </div>
    </section>
    <style>
        body,
        html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to top, #c20303, #ffdd4e);

        }
    </style>

</body>

</html>