<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFicha</title>
    <link rel="stylesheet" href="/static/css/estilo.css">
</head>

<body>
    <section class="login">
        <div class="telaLogin">
            <div class="image">
                <img src="images/logoFastFicha2.png" alt="logo" class="imageLogo">
            </div>
            <div class="infoUsuario">
                <p>Nome:</p>
                <p><input type="text" name="nome"></p>
                <p>Email:</p>
                <p><input type="email" name="email"></p>
                <p>Telefone:</p>
                <p><input type="text" name="telefone"></p>
            </div>


        </div>
    </section>

</body>

</html>