<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastFicha</title>
    <link rel="stylesheet" href="/static/css/estilo.css">
</head>

<body>
    <section class="login">
        <div class="telaLogin">
            <div class="image">
                <img src="images/logoFastFicha2.png" alt="logo" class="imageLogo">
            </div>
            <h1 class="titleLogin">LOGIN</h1>
            <div class="infoUsuario">
                <p>Email:</p>
                <p><input type="email" name="email" placeholder="Digite o email aqui..."></p>
                <p>Senha:</p>
                <p><input type="password" name="senha" placeholder="Digite a senha aqui..."></p>

            </div>

            <div class="logar">
                <button class="buttonLogin" type="button">Login</button>
            </div>
            <div>
                <h1 class="askcadastro">Não possui cadastro?</h1>
                <a class="cadastro" href="">Cadastre-se</a>
            </div>


        </div>
    </section>

</body>

</html>