<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" href="/static/css/estilo.css">

</head>

<body>
    <nav class="navbar">
        <div class="logoPedidos">
            <img class="logo" src="images/logoFastFicha2.png" alt="logoFast">
        </div>

    </nav>

    <section class="comidas">
        <div class="pedidos">
            <div class="pratos">
                <div>
                    <img class="imagespratos" src="images/IMG-20240424-WA0000.jpg" alt="">
                </div>
                <h1 class="titlelanche" >Nome Prato</h1>
                <h2 class="preco">R$38,00</h2>
                <button type="submit" class="buttonCompra">Comprar</button>
            </div>

            <div class="pratos">
                <div>
                    <img class="imagespratos" src="images/IMG-20240424-WA0000.jpg" alt="">
                </div>
                <h1 class="titlelanche">Nome Prato</h1>
                <h2 class="preco">R$30,00</h2>
                <button type="submit" class="buttonCompra">Comprar</button>
            </div>

            <div class="pratos">
                <div>
                    <img class="imagespratos" src="images/IMG-20240424-WA0000.jpg" alt="">
                </div>
                <h1 class="titlelanche">Nome Prato</h1>
                <h2 class="preco">R$12,50</h2>
                <button type="submit" class="buttonCompra">Comprar</button>
            </div>

            <div class="pratos">
                <div>
                    <img class="imagespratos" src="images/IMG-20240424-WA0000.jpg" alt="">
                </div>
                <h1 class="titlelanche">Nome Prato</h1>
                <h2 class="preco">R$5,50</h2>
                <button type="submit" class="buttonCompra">Comprar</button>
            </div>

            <div class="pratos">
                <div>
                    <img class="imagespratos" src="images/IMG-20240424-WA0000.jpg" alt="">
                </div>
                <h1 class="titlelanche">Nome Prato</h1>
                <h2 class="preco">R$9,50</h2>
                <button type="submit" class="buttonCompra">Comprar</button>
            </div>

            <div class="pratos">
                <div>
                    <img class="imagespratos" src="images/IMG-20240424-WA0000.jpg" alt="">
                </div>
                <h1 class="titlelanche">Nome Prato</h1>
                <h2 class="preco">R$7,80</h2>
                <button type="submit" class="buttonCompra">Comprar</button>
            </div>

            <div class="pratos">
                <div>
                    <img class="imagespratos" src="images/IMG-20240424-WA0000.jpg" alt="">
                </div>
                <h1 class="titlelanche">Nome Prato</h1>
                <h2 class="preco">R$8,65</h2>
                <button type="submit" class="buttonCompra">Comprar</button>
            </div>
        </div>
        <button class="botaomenu" type="submit">MENU</button>

    </section>



</body>
    <style>
        *{
            padding: 0px;
            margin: 0px;
        }
    </style>
</html>